#navbar {
    clear: left;
    list-style-type: none;
    overflow: hidden;
}

#navbar > li {
    float: right;
    padding: 20px;
}

#navbar > li > a {
    text-decoration: none;
    text-transform: lowercase;
}

#navbar > li > a:hover {
    text-decoration: underline;
}

#animation {
    position: absolute;
    z-index: -1;
}
